<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <title>Profile</title>
  </head>

<body>
  <h3>Create Rating</h3>

  <form method = 'post' action="{% url 'save' user.username %}">
    {% csrf_token %}
    <label for = 'foodName'>Name of Food</label>
    <input type = 'text' id = 'foodName' name = 'foodName'>
    <label for = 'foodType'>Type of Food</label>
    <select name="foodType" id="foodType">
      <option value="dessert">Dessert</option>
      <option value="main course">Main Course</option>
      <option value="appetizer">Appetizer</option>
    </select>
    <label for = 'foodRate'>Rating</label>
    <input type = 'number' id = 'foodRate' name = 'foodRate'>
    <div class = "field">
      <div class = "control">
        <button type = 'submit'>Submit New Rating</button>
      </div>
    </div>
  </form>
  <form method = 'post' action = "{% url 'logs' user.username %}">
    {% csrf_token %}
    <button type = 'submit'>Back</button>
  </form>
</body>

</html>
