<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel = "stylesheet" href = "styles.css" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <title>Profile</title>
  </head>

<body>
  <h3>User Profile for {{user.username}}</h3>
  {% if exist or submitted %}
  <img class="rounded-circle account-img" src="{{ userProfile.image.url }}">
    <ul>
      <li>
        <h5>User: </h5>
        {{userProfile.user}}
      </li>
      <li>
        <h5>Location: </h5>
        {{userProfile.location}}
      </li>
      <li>
        <h5>Qualifications: </h5>
        {{userProfile.qualifications}}
      </li>
      <li>
        <form method = 'post' action = "{% url 'edit' user.username %}">
          {% csrf_token %}
          <button type = 'submit'>Edit Profile</button>
        </form>
        <form method = 'post' action = "{% url 'logs' user.username %}">
          {% csrf_token %}
          <button type = 'submit'>Return To Homepage</button>
        </form>
      </li>
      {% for type in userTypes %}
        <li>
          {{type.foodName}}
          {{type.foodRate}}
          <form method = 'post' action = "{% url 'viewPost' user.username type.id %}">
            {% csrf_token %}
            <button type = 'submit'>Edit</button>
          </form>

        </li>
      {% endfor %}


    </ul>

  {% else %}
    <form method = 'post' action="{% url 'profile' user.username %}" enctype = "multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class = "control">
        <button type = 'submit'>Save</button>
      </div>

    </form>

  {% endif %}

</body>

</html>
